*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  text-align: center;
  font-family: 'Roboto';
  background-image: linear-gradient(270.3deg, rgba(84, 212, 228, 1) 0.2%, rgba(68, 36, 164, 1) 100%);
  background-repeat: no-repeat;
}

.header {
  padding: 20px 0 15px 0;
  color: white;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputHolder {

  input[type='text'] {
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  .uploadInput {
    display: none;
  }

  .or {
    margin: 0 5%;
  }

  .uploadImage {
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 15px;

    &:hover {
      animation: rotate 0.7s ease-in-out both;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
      transform: rotate(2deg) translate3d(0, 0, 0);
    }

    50% {
      transform: rotate(-2deg) translate3d(0, 0, 0);
    }

    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
}

.imageHolder {
  padding: 15px 0 10px 0;

  &:empty {
    padding: 0;
  }

  img {
    border-radius: 50px;
    width: 60%;
    max-width: 1000px;
  }
}

.resultsHolder {
  .result {
    padding: 5px 15%;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;

    .name {
      padding: 10px;
      width: 30%;
      max-width: 600px;
      -webkit-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      flex: 2 1 auto;
      -webkit-align-self: auto;
      align-self: auto;
      background-color: rgba(0, 8, 120, 1);
      color: white;
      border-radius: 5px;
      border: 2px solid white;
    }

    .confidence {
      padding: 10px;
      width: 30%;
      max-width: 300px;
      -webkit-order: 1;
      order: 1;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      align-self: auto;
      background-color: white;
      color: rgba(68, 36, 164, 1);
      border-radius: 5px;
      margin: 0 3%;
      border: 2px solid rgba(0, 8, 120, 1);
      ;
    }
  }
}

.button {
  color: rgba(68, 36, 164, 1);
  background: white;
  border: 2px solid rgba(0, 8, 120, 1);
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 15px auto;

  &:hover {
    animation: rotate 0.7s ease-in-out both;
  }
}

.recentPredictions {

  h2 {
    padding: 30px 0 15px 0;
    color: white;
  }

  .recentImages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 300px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .recentPrediction {
    img {
      width: 100%;
      height: 175px;

      @media (max-width: 700px) {}
    }
  }
}